*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  --manrope-font: "Manrope";
  --sora-font: "Sora";
  --poppins-font: "Poppins";
  --primary-color: #1663f9;
  --secondary-color: #9f28f3;
  --gray-70-color: #707281;
}
* {
  margin: 0;
  padding: 0;
}
button,
input,
textarea,
select {
  font: inherit;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: var(--manrope-font), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #1f2326;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.pink-blur {
  width: 677px;
  height: 377px;
  border-radius: 100rem;
  background-color: #f8a6f0;
  filter: blur(300px);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  pointer-events: none;
  z-index: -1;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
/* global */
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.btn {
  padding: 18px 50px;
  border-radius: 100px;
  background-color: var(--primary-color);
  color: white;
  font-family: var(--poppins-font);
  line-height: calc(24 / 16);
  display: flex;
  justify-content: center;
}
/* Header */
.header {
  margin: 30px 0 40px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
}
.header__logo {
  font-size: 20px;
  font-weight: 600;
  font-family: var(--sora-font);
  line-height: calc(28 / 20);
  display: inline-flex;
  gap: 10px;
  align-items: center;
}
.header__logo img {
  width: 36px;
  height: 36px;
}

.header-menu {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  font-family: var(--poppins-font);
}
.header-menu__link:hover {
  color: var(--primary-color);
}
/* hero */
.hero__heading {
  text-align: center;
  font-family: var(--sora-font);
  font-size: 60px;
  font-weight: 800;
  line-height: calc(76 / 60);
  max-width: 947px;
  margin: 0 auto 30px;
}
.hero__heading span {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #f961d8, #1663f9);
}
.hero__text {
  font-size: 20px;
  line-height: calc(28 / 20);
  font-family: var(--poppins-font);
  max-width: 806px;
  font-weight: 400;
  margin: 0 auto 48px;
  text-align: center;
}
.hero__link {
  width: fit-content;
  margin: 0 auto 70px;
}
/* Geist mono: NextJS */
/* content section */
.content-type {
  padding: 50px;
  background-color: white;
  border-radius: 20px;
  position: relative;
}
.content-type:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 704px;
  height: 508px;
  border-radius: 100rem;
  background-color: #51b4fa;
  filter: blur(300px);
  z-index: -1;
}
.content__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 800;
  font-size: 23px;
  line-height: calc(41 / 23);
}
.content__text {
  text-align: center;
  font-weight: 400;
  margin-bottom: 45px;
}
.content__option {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.content__option button {
  font-size: 12px;
  background-color: transparent;
  border: 1px solid #e7e7ea;
  font-weight: 600;
  padding: 4px 16px;
  border-radius: 100rem;
  transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: var(--gray-70-color);
}
.content__option button:hover {
  color: white;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
